absl-py==1.2.0
alabaster==0.7.12
ale-py==0.7.4
atari-py==0.2.6
atomicwrites==1.4.1
attrs==22.1.0
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
Babel==2.10.3
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.4
brotlipy==0.7.0
cachetools==5.2.0
casadi==3.5.5
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.1.0
click==8.0.3
cloudpickle==1.6.0
colorama==0.4.5
cycler==0.11.0
defusedxml==0.7.1
do-mpc==4.4.0
docutils==0.19
dpcpp-cpp-rt==2022.1.0
entrypoints==0.4
et-xmlfile==1.1.0
fastjsonschema==2.15.3
fonttools==4.29.1
google-auth==2.9.1
google-auth-oauthlib==0.4.1
grpcio==1.48.0
gym==0.19.0
highway-env==1.4
idna==3.3
imagesize==1.4.1
importlib-metadata==4.12.0
importlib-resources==5.9.0
iniconfig==1.1.1
intel-cmplr-lib-rt==2022.1.0
intel-cmplr-lic-rt==2022.1.0
intel-opencl-rt==2022.1.0
intel-openmp==2022.1.0
Jinja2==3.1.2
jsonschema==4.5.1
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
kiwisolver==1.3.2
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.1
mistune==0.8.4
mkl==2022.1.0
mkl-fft==1.3.1
mkl-service==2.4.0
nbclient==0.6.2
nbconvert==6.5.0
nbformat==5.4.0
nbsphinx==0.8.8
nest-asyncio==1.5.5
numpy==1.22.3
oauthlib==3.2.0
opencv-python==4.5.5.64
openpyxl==3.0.10
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
Pillow==9.0.1
pluggy==1.0.0
protobuf==3.19.1
psutil==5.9.1
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pygame==2.1.2
Pygments==2.12.0
pyparsing==3.0.7
pyrsistent==0.18.1
pytest==6.2.5
python-dateutil==2.8.2
pytorch-model-summary==0.1.2
pytz==2021.3
pywin32==304
pyzmq==23.2.0
requests==2.28.1
requests-oauthlib==1.3.0
rsa==4.9
scipy==1.9.3
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.1.1
sphinx-copybutton==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stable-baselines3==1.4.0
tbb==2021.6.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tinycss2==1.1.1
toml==0.10.2
torch==1.10.2
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
typing_extensions==4.1.1
urllib3==1.26.11
webencodings==0.5.1
Werkzeug==2.2.1
wincertstore==0.2
zipp==3.8.1
